@model IEnumerable<discgolf.Models.DgCourses>
@using discgolf.Models;

@{
    ViewData["Title"] = "Startsidan";

    // Deklarera variabeln createdCourses
    IEnumerable<DgCourses> createdCourses = Enumerable.Empty<DgCourses>();

    if (ViewBag.CreatedCourses != null)
    {
        createdCourses = (IEnumerable<DgCourses>)ViewBag.CreatedCourses;
    }

}

<h1>Startsidan</h1>
<p>Detta är lite </p>
<div class="form">
    <form method="post">
        <h2>Lägg till bana</h2>
        <label for="numberOf">Antal korgar på banan</label>
        <input type="number" id="numberOf" name="numberOf">
        <button type="submit" value="submit" class="submit-button">Skapa mall</button>

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="error-message">
                @TempData["ErrorMessage"]
            </div>
        }
    </form>
</div>

<div>
    <!-- kontrollerar createdCourses innehåller något objekt.-->
    @if (createdCourses.Any())
    {
        <h2 class="text-center">Egenskapade banor</h2>

        @foreach (var dgcourse in createdCourses.Select((value, index) => new { value, index }))
        {

       // @foreach (var dgcourse in createdCourses)
        //{

            <div class="course-div">


                <h3>@dgcourse.value.CourseName</h3>

                <div class="flex">
                    <p class="basket">Hål</p> @for (var i = 1; i <= dgcourse.value.Basket.Length; i++)
                    {
                        <p class="basket">@i</p>
                    }
                </div>
                <div class="flex">
                    <p class="basket">Par @for (var i = 1; i <= dgcourse.value.Basket.Length; i++)
                        {
                        <p class="basket">@dgcourse.value.Basket[i - 1]</p>
                        }
                </div>
                <div class="course-button-div">
                    <a class="flex-button" asp-controller="Home" asp-action="Play" asp-route-id="@dgcourse.index"
                        asp-route-created="true">Spela</a>
                    <a class="flex-button" asp-controller="Home" asp-action="RemoveCourse" asp-route-id="@dgcourse.index">Ta
                        Bort</a>
                </div>

            </div>


        }
    }

    <h2 class="text-center">Kända banor</h2>
    @foreach (var dgcourse in Model)
    {



        <div class="course-div">


            <h3>@dgcourse.CourseName</h3>

            <div class="flex">
                <p class="basket">Hål</p> @for (var i = 1; i <= dgcourse.Basket.Length; i++)
                {
                    <p class="basket">@i</p>
                }
            </div>
            <div class="flex">
                <p class="basket">Par @for (var i = 1; i <= dgcourse.Basket.Length; i++)
                    {
                    <p class="basket">@dgcourse.Basket[i - 1]</p>
                    }
            </div>
            <div class="course-button-div">
                <a class="flex-button" asp-controller="Home" asp-action="Play" asp-route-id="@dgcourse.Id"
                    asp-route-created="false">Spela</a>
            </div>

        </div>


    }

</div>