@model IEnumerable<discgolf.Models.DgCourses>
@{
    ViewData["Title"] = "Startsidan";
}

<h1>Startsidan</h1>
<p>Detta 채r lite </p>
<div class="form">
    @using (Html.BeginForm("Index", "AddCourse", FormMethod.Post))
    {
        <h2>L채gg till bana</h2>
        <label for="numberOf">Antal korgar p책 banan</label>
        <input type="number" id="numberOf" name="numberOf">
        <button type="submit" value="submit" class="submit-button">Skapa mall</button>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="error-message">
            @TempData["ErrorMessage"]
        </div>
    }
</div>

<div>

    @foreach (var dgcourse in Model)
    {
        <div id="@dgcourse.Id" class="course-div">


            <h2>@dgcourse.CourseName</h2>

            <div class="flex">
                <p class="basket">H책l</p> @for (var i = 1; i <= dgcourse.Basket.Length; i++)
                {
                    <p class="basket">@i</p>
                }
            </div>
            <div class="flex">
                <p class="basket">Par @for (var i = 1; i <= dgcourse.Basket.Length; i++)
                    {
                    <p class="basket">@dgcourse.Basket[i - 1]</p>
                    }
            </div>

        </div>
    }

</div>