@using discgolf.Models;

@{
    ViewData["Title"] = "Spelade rundor";

    // Deklarera variabeln createdCourses
    IEnumerable<DgCourses> createdCourses = Enumerable.Empty<DgCourses>();

    if (ViewBag.CreatedCourses != null)
    {
        createdCourses = (IEnumerable<DgCourses>)ViewBag.CreatedCourses;
    }

}


<div>

    <div class="center-spalt">
        <h1>Mina rundor</h1>
    </div>

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="error-message">
            @TempData["ErrorMessage"]
        </div>
    }

    @if (createdCourses.Any())
    {

        @foreach (var dgcourse in createdCourses.Select((value, index) => new { value, index }))
        {

            // @foreach (var dgcourse in createdCourses)
            //{

            <div class="course-div">


                <h3>@dgcourse.value.CourseName</h3>

                <div class="flex">
                    <p class="basket">Hål</p> @for (var i = 1; i <= dgcourse.value.Basket.Length; i++)
                    {
                        <p class="basket">@i</p>
                    }
                </div>
                <div class="flex">
                    <p class="basket">Par @for (var i = 1; i <= dgcourse.value.Basket.Length; i++)
                        {
                        <p class="basket">@dgcourse.value.Basket[i - 1]</p>
                        }
                </div>
                <div class="course-button-div">
                    <a class="flex-button deleteBtn" asp-controller="Home" asp-action="RemovePlayedCourse"
                        asp-route-id="@dgcourse.index">Ta
                        Bort</a>
                </div>

            </div>


        }
    }


</div>